html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

#header, #footer {
	margin: auto;
	display: block;
	height: 80px;
	width: 550px;
	border: 2px solid rgba(162,162,162, .45)
}

#app {
	display: block;
	margin: auto;
	height: 500px;
	width: 550px;
	border-left: 2px solid rgba(162,162,162, .45);
	border-right:2px solid rgba(162,162,162, .45);
	color:#ccc;
}

input, select, textarea{
	
  display: block;
  margin: 15px 0px 15px 45px;
	
}

input, select{
	width:450px;
	height: 35px;
	display:block;
}


textarea {
  resize: none;
  height: 100px;
  width: 450px;
  padding-left: 50px;
  outline: none;
  border: 2px solid rgba(162,162,162, .45)

}

.fa{
	
}


